body {
  background: rgb(220, 217, 217);
}

.container {
  padding: 10px 10%;
  background-color: #74ace5;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 5px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}

nav ul li a {
  color: rgb(253, 240, 240);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%
}

nav #fas {
  display: none;
}

@media screen and (max-width: 767px) {
  nav #fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: rgb(225, 188, 119);
    position: fixed;
    top: 0;
    right: -200px;
    width: 150px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul #fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}

main {
  margin: 10px;
}

section {
  margin-bottom: 40px;
}


h2 {
  border-bottom: 2px solid #333;
  font-size: 30px;
  margin-bottom: 20px;
  padding-bottom: 2px;
  font-family: 'Bona Nova', serif;
}

.back-to-top {
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
}

.back-to-top {
  margin-left: auto;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .back-to-top {
    font-size: 15px;
  }
}


footer {
  text-align: center;
  font-size: 22px;
  background-color: orange;
  height: 10%;
  padding: 1px;
  text-decoration: none;
  font-family: Verdana;
  color: lightblue;
}

@media screen and (max-width: 767px) {
  footer {
    font-size: 15px;
  }
}

#name1 {
  margin-left: auto;
  margin: top 10px;
  margin-left: -240px;
  font-size: 50px;
}

#as {
  font-size: 40px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: blue;
}

#df1 {
  text-decoration: none;
  display: inline-block;
}

.contact_box {
  background: white;
  display: flex;
}

.contact_left {
  background-color: white;
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact_right {
  font-size: 17px;
  flex-basis: 40%;
  padding: 40px;
  background: #1c00b5;
  color: #dad0d0;
}

@media screen and (max-width: 767px) {
  .contact_left {
    padding: 10px;
  }

  .contact_box {
    flex-direction: column;
  }

  .contact_right {
    padding: 5px;
    font-size: 15px;
  }

}

.input_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input_row .input_grow {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

lable {
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}

#cv {
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: auto;
  margin-left: auto;
}

#my1 {
  color: black;
}

#my1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-right: 10px;
  text-align: justify;
}

#my2 {
  font-family: 'Noto Serif Lao', serif;
  font-size: 22px;
  color: blue;
  text-decoration: none;
}

#my3 {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}

#my4 {
  text-decoration: none;
  color: blue;
}

#rv1,
#rv2,
#rv3,
#rv4,
#rv5,
#rv6 {
  color: blueviolet;
}

#vr2 {
  background-color: #61a7ed;
}

#vr4 {
  background-color: rgb(180, 231, 129);
}

#vr5 {
  background-color: rgb(231, 162, 231);
}

#my0 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-right: 30px;
  text-align: justify;
}

#content-container1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 201, 139);
}

#img1 {
  width: 100%;
  height: auto;
}

#text-container {
  padding: 0 20px;

}

@media (min-width: 768px) {
  #content-container1 {
    flex-direction: row;
    align-items: center;
  }

  #img1 {
    width: 40%;
    height: auto;
  }

  #text-container {
    width: 60%;
    padding: 0 40px;
  }
}



#img2 {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  #vr2 tr {
    display: block;
  }

  #vr2 td {
    width: 100%;
    display: block;
    text-align: center;
  }

}

@media (min-width: 768px) {
  #vr2 {
    display: table;
  }

  #img2 {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

#content-container2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 213, 162);
}

#content-container3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 148, 158);
}

#img6 {
  width: 100%;
  height: auto;
}

#text-container {
  padding: 0 20px;

}

@media (min-width: 768px) {
  #content-container3 {
    flex-direction: row;
    align-items: center;
  }

  #img6 {
    width: 40%;
    height: auto;
  }

  #text-container {
    width: 60%;
    padding: 0 40px;
  }
}




#img3 {
  width: 100%;
  height: auto;
}

#text-container {
  padding: 0 20px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  #content-container2 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #img3 {
    width: 40%;
    height: auto;
    margin-top: 0;
  }

  #text-container {
    width: 60%;
    padding: 0 40px;
  }
}

#img4 {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #vr4 {
    display: table;
  }

  #vr4 td {
    display: table-cell;
    vertical-align: top;
  }

  #img4 {
    padding: 80px 0;
  }

}

/* styles for phone screen */
@media (max-width: 767px) {
  #vr4 tr {
    display: block;
  }

  #vr4 td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

#cv1 {
  margin: 0 90px;
  text-align: center;
  font-size: 20px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

#df1 {
  font-family: 'Bradley Hand', cursive;
  font-size: 20px;
  color: blue;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #resume-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  #cv1 {
    margin: 0 650px;

  }
}


#footer {
  border: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: lightblue;
  font-size: 20px;
}

#footer table {
  width: 100%;
  border-collapse: collapse;
}

#footer td {
  padding: 0 65px;
  display: inline-block;
  margin: 5px;
  text-align: center;
}

#footer a {
  color: orange;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer i {
  margin-right: 5px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  #footer td {
    padding: 0 3px;
    margin: 0 0;
    display: inline-block;
  }

  #footer i {

    display: block;
    margin: 0 0;
  }

  #footer a {
    display: block;
    font-size: 10px;
  }
}

#msg {
  color: blue;
  display: block;
}